// Elements colors
$base-heading-color: #000000;

// Link colors
$base-link-color: #0000FF;
$base-link-active-color: #4040C4;
$base-link-visited-color: #4040C4;
$base-color-black: #010101; //use this for links
$background-color: #ffffff;
$border-color: #dfe1e1;
$button-text-color: #ffffff;
$button-background: #00af81;
$footer-border-top-color: #E3E6E9;
$footer-text-color: #7F8893;
$link-color: #1a8dee;

// Fonts
$font-family-base: 'Arial', 'Helvetica', sans-serif;